.footer {
  position: absolute;
  height: 14.86%;
  width: 100%;
  top: 85.17%;
  right: 0;
  bottom: -0.03%;
  left: 0;
  background-color: var(--color-gray);
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}

.ecoGuardianFooter {
  position: absolute;
  width: 16.44%;
  top: calc(50% - 83.75px); /* Keep vertical position */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for centering horizontally */
  letter-spacing: -0.16px;
  display: inline-block;
  height: 55.3px;
}
.whiteEcoguardianLogo {
  position: absolute;
  top: 48.5px; /* Keep vertical position */
  left: 50%; /* Center horizontally */
  width: 242px;
  height: 167.8px;
  object-fit: cover;
  transform: translateX(-50%); /* Adjust for centering horizontally */
}
.mapIcon {
  position: absolute;
  top: 436px; /* Keep vertical position */
  left: 50%; /* Center horizontally */
  width: 1736px;
  height: 823px;
  object-fit: cover;
  transform: translateX(-50%); /* Adjust for centering horizontally */
}
.bgIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 116px;
}

.greenheader {
  background-color: #d8e4dc; /* Set your desired color */
  height: 120px; /* Set your desired height */
  display: flex;
  justify-content: space-between; /* Aligns children at each end of the flex container */
  align-items: center;
  width: 100%; /* Ensure it spans the whole width */
  position: fixed; /* Ensure it stays at the top */
  top: 0;
  left: 0;
  z-index: 0; /* Adjust as needed */
}
.leftContent {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start of the container */
}
.rightContent {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the end of the container */
}
.ecoGuardian {
  position: absolute;
  width: 40%;
  top: 35%;
  letter-spacing: -0.16px;
}
.teamName {
  position: absolute;
  width: 75.22%;
  left: 40%;
  letter-spacing: -0.16px;
}
.logoIcon {
  position: absolute;
  height: 60px;
  top:25%
}

.header {
  top: 26px;
  left: 25px;
  width: 274.4px;
  text-align: left;
}



.seeForYourself {
  text-decoration: underline;
  position: absolute;
  width: 31.44%;
  top: calc(50% + 467px);
  left: 34.27%;
  font-size: var(--font-size-5xl);
  letter-spacing: -1.2px;
  line-height: 48px;
  font-family: var(--font-abeezee);
  color: var(--colors-dark-100);
  display: inline-block;
}

.homePage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1780px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-gray);
  font-family: var(--font-actor);
}
